*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }


  #contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#consultar{
    width: 150px;
    height: 30px;
    background-color: antiquewhite;
    border: 50px;
}

#foto {
    display: none;
    margin-top: 10px;
}
